body {
    background: #dfdfdf;
}

p {
    color: #222222;
}

.foto-principal {
    
    border: 3px solid #000000; /*shorthand é esse tipo de comando, curta e rápido numa linha só */
    border-radius: 100% 0 100% 0; /*também é possível usar um shorthand*/
    margin: 30px 30px 30px 30px;
    padding: 100px;

   
}
